
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Arial', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, rgb(85, 45, 131) , rgb(35, 6, 68));
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
